@import url('./pages/login.css');
@import url('./pages/show.css');
@import url('./pages/home.css');
@import url('./pages/edit.css');
@import url('./pages/terms.css');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

body {
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(135deg, #916aff 0%, #6788ff 100%);
}

button {
	user-select: none;
}

::selection {
	background: #916aff;
}

img {
	user-select: none;
}
