<nav>
	<div class="logo">
		<img src="/assets/Debutur.png" draggable="false" />
		<h1>Debutur</h1>
	</div>
	<a href="/users/login" draggable="false">Get Started</a>
</nav>
<div class="welcome">
	<h1>Create and Customise Your Beautiful Homepage</h1>
	<p>
		A free, and easy to use service to help you create and personalise your own
		personal homepage, with 10 colourful themes.
	</p>
	<div class="link">
		<div class="url">
			<h3>deb.myst.rs /</h3>
			<input type="text" />
		</div>
		<a href="/users/register" draggable="false">Claim</a>
	</div>
	<img src="/assets/DebuturShowcase.png" class="showcase" draggable="false" />
</div>
<footer>
	<h1>
		<i class="fas fa-code"></i> with <i class="fas fa-heart"></i> by
		<a href="https://github.com/harshhhdev">harshhhdev</a>
	</h1>
	<h1>
		<a href="/docs/terms">Privacy & Terms</a>
	</h1>
</footer>
