nav {
	display: flex;
	align-items: center;
	margin: 20px;
	justify-content: space-between;
	margin-bottom: 25vh;
}

nav .logo {
	display: flex;
	align-items: center;
}

nav > button,
a {
	color: #f8f8f8;
	text-decoration: none;
	outline: none;
	border: none;
	padding: 10px;
	font-size: 16px;
	background: linear-gradient(135deg, #916aff 0%, #6788ff 100%);
	box-shadow: 5px 5px 15px 0px #0000002c;
	border-radius: 5px;
}

nav h1 {
	margin-left: 10px;
}

nav img {
	width: 50px;
	height: 50px;
	border-radius: 5px;
	box-shadow: 5px 5px 15px 0px #0000002c;
}

.welcome {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 100px;
}

.welcome > h1,
p {
	width: 500px;
}

.welcome > p {
	margin: 30px 0;
}

.link {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #f8f8f8;
	padding: 20px;
	box-shadow: 5px 5px 15px 0px #0000002c;
	border-radius: 100px;
	width: fit-content;
}

.link > .url {
	display: flex;
}

.link h3 {
	font-size: 16px;
}

.link input {
	outline: none;
	border: none;
	background: transparent;
	font-size: 16px;
	margin-left: 5px;
	color: #4d8bff;
}

.link a {
	background: linear-gradient(135deg, #916aff 0%, #6788ff 100%);
	text-decoration: none;
	color: #f8f8f8;
	font-size: 16px;
	transition: 0.1s linear;
}

.link a:hover {
	transform: scale(1.05, 1.05);
}

.welcome img {
	position: absolute;
	width: 40vw;
	margin-left: 45%;
}

footer {
	position: absolute;
	margin-left: 0 !important;
	padding: 10px;
	border-top: #757575 solid 3px;
	bottom: 0;
	width: 99%;
	margin-bottom: -10%;
	display: flex;
	justify-content: space-between;
}

footer h1 {
	font-size: 16px;
	color: #757575;
}

footer .fa-heart {
	color: #ff0000;
}

footer h1 > a {
	background: none;
	box-shadow: none;
	color: #757575;
	margin: 0;
	padding: 0;
}

footer a:hover {
	color: #7e61ff;
}

footer h1 > a:nth-child(1) {
	margin-right: 10px;
}

@media (max-width: 1200px) {
	.welcome {
		margin-left: 50px;
	}
	.welcome img {
		margin-left: 50%;
	}
}

@media (max-width: 1000px) {
	nav {
		margin-bottom: 100px;
	}
	.welcome img {
		position: relative;
		display: flex;
		width: 100%;
		margin: 100px 0;
		align-self: center;
	}
	footer {
		display: none;
	}
}

@media (max-width: 600px) {
	.welcome {
		margin-left: 20px;
	}
	.link input {
		width: 40%;
	}
	.link {
		width: 90%;
	}
}

@media (max-width: 500px) {
	.link input {
		width: 20%;
	}
	.welcome > h1,
	p {
		width: 100%;
	}
}

@media (max-width: 320px) {
	nav a {
		display: none;
	}
}
