.terms {
	margin: 50px;
}

.terms h1 {
	margin: 30px 0;
}

.terms p {
	margin: 10px 0;
}

.terms a > i {
	margin: 0 5px;
	transition: 0.1s linear;
}

.terms a:hover i {
	transform: translateX(-5px);
}

@media (max-width: 350px) {
	.terms {
		margin-left: 10px;
	}
}
